
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>cieclarke.com</title>    
    <link href="css/bootstrap.css" rel="stylesheet">    
    <link href="css/jquery.fancybox.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="js/CC.Blog.js"></script>
    <script src="js/jquery.fancybox.pack.js"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>               
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav nav-pills">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="photos.html">Photos</a></li>
                    <li><a href="videos.html">Videos</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
   
    <div class="jumbotron">
        <div class="container home">
           
        </div>
    </div>
    <section>


    </section>

    <script type="text/template" id="blog-list-link">
    
        <li class='list-group-item'>
            <h3><%= Title() %></h3>
        </li>
        
    </script>
    
    <script type="text/template" id="blog-list-photo">
    
        <li class='list-group-item blog-photo'>
            
            <figure>
                <img src='<%= Thumbnail() %>' />
                <figcaption>
                    <%= Summary() %>
                </figcaption>
            </figure>
        </li>
        
    </script>
    
    <script type="text/template" id="blog-list-text">
    
        <li class='list-group-item'>
            <h3><%= Title() %></h3>
        </li>
        
    </script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>
